/* default div margin and padding to zero */
* {
  margin: 0;
  padding: 0;
}

/* set font and line height of body text */
/* play around with different font families */
/* line height  */
body {
  font-family: sans-serif;
  line-height: 1.4;
}

/*  */